table {
  caption-side: bottom;
  border-collapse: collapse;
  width: 100%;
  margin-bottom: 1rem;
  color: #f9fafb;
  vertical-align: middle;
  border-color: #e5e7eb;
  font-size: 1rem;
}

th {
  text-align: left;
  font-weight: bold;
  padding: 0.75rem;
  background-color: #1f2937;
  color: #f9fafb; /* ✅ fix màu chữ */
}

thead,
tbody,
tfoot,
tr,
td,
th {
  border-color: #e5e7eb;
  border-style: solid;
  border-width: 1px;
}

table > :not(caption) > * > * {
  padding: 0.5rem;
  color: #fff;
  background-color: #fff;
}

table > tbody {
  vertical-align: inherit;
}

table > thead {
  vertical-align: bottom;
}
